html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

button {
    color: black;
    background-color: white;
    border: 2px solid black;
    font-size: 12pt;
    font-weight: bold;
    padding: 5px 10px;
}

button:hover {
    cursor: pointer;
}

button.selected {
    background-color: lightgray;
}

.page-header {
    font-family: 'Dancing Script', sans-serif;
    font-size: 50pt;
    font-weight: bold;
    text-align: center;
}

.page-section {
    margin-top: 20px;
}

.page-section-head {
    font-family: 'Dancing Script', sans-serif;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}

.page-section-subhead {
    font-family: 'Dancing Script', sans-serif;
    font-size: 14pt;
    font-weight: bold;
    padding-bottom: 3px;
}

.page-section-contents { }

.flex {
    display: flex;
    justify-content: space-between;
}

.card-pool { }

.card-pool:not(:last-child) {
    margin-bottom: 50px;
}

.label {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.label:before {
    display: block;
    content: "";
    flex-grow: 1;
    height: 2px;
    margin-right: 10px;
    background: linear-gradient(to right, rgba(0,0,0,0) 25%,rgba(147,147,147,1) 100%);
}

.label:after {
    display: block;
    content: "";
    flex-grow: 1;
    height: 2px;
    margin-left: 10px;
    background: linear-gradient(to left, rgba(0,0,0,0) 25%, rgba(147,147,147,1) 100%);
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 244px);
    grid-gap: 15px;
    justify-content: center;
    align-content: flex-start;
}

.card grid-item {
    position: relative;
}

.card-grid-item-card {
    display: block;
    position: relative;
    cursor: pointer;
}

.card-grid-item-card-faces {
    display: block;
    width: 244px;
    height: 340px;
}

.card-grid-item-card-front, .card-grid-item-card-back {
    position: absolute;
    left: 0;
    top: 0;    
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.card-grid-item-card-front {
    transform: rotateY(0deg);
}

.card-grid-item-card-back {
    transform: rotateY(180deg);
}

.card-grid-item-transform-button {
    position: absolute;
    opacity: 0.60;
    background: white;
    border-radius: 100%;
    border: 2px solid black;
    display: block;
    height: 44px;
    width: 44px;
    padding: 7px;
    cursor: pointer;
    z-index: 1000;
    top: 25%;
    left: 75%;
}

.card-grid-item-transform-button:hover, .card-grid-item-transform-button:active {
    opacity: 1.0;
}

.card-image {
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.45);
    background-color: transparent;
    background-image: repeating-linear-gradient(-55deg, #DDD, #DDD 5px, #CCC 5px, #CCC 10px);
    border-radius: 10px;
    overflow: hidden;
}

.card-info-box {
    padding-top: 5px;
    text-align: center;
}

.card-info-box-loc {
    font-size: 8pt;
}

.grayscale {
    filter: grayscale(1) opacity(0.5);
}


.count {
    font-weight: bold;
}
.count.count-nonfoil {
    color: black;
}
.count.count-foil {
    color: transparent;
    background: linear-gradient(to bottom, orange , yellow, green, cyan, blue, violet);
    background-clip: text;
}

.condition {
    font-weight: bold;
}
.condition.condition-mt {
    color: #17A2B8;
}
.condition.condition-nm {
    color: #3CAF56;
}
.condition.condition-ex {
    color: #82891E;
}
.condition.condition-gd {
    color: #FFC107;
}
.condition.condition-lp {
    color: #FD8B2B;
}
.condition.condition-pl {
    color: #E56874;
}
.condition.condition-po {
    color: #DC3545;
}
